<!DOCTYPE html>
<html>
<head>
	<title>SoccerApp</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	<style type="text/css">
		body{
			background-color: rgba(0,0,0,0.8)
		} 

		.soccer {
			background-image: url("http://3.bp.blogspot.com/-CSSYymATk9Y/TgMwDsRUF7I/AAAAAAAAAGU/3WpYSNFx8Oc/s1600/Diagram+Of+Soccer+Field+2011.jpg");
			background-size: cover;
			background-position: center;
			height:600px
		}
</style>

</head>
<body >



	<%= yield %>

</body>
</html>
